{:paths ["src" "notes"]
 :aliases {:run
           {:main-opts ["-m" "thinkstats2.core"]}}

 :deps {org.clojure/clojure             {:mvn/version "1.10.3"}
        clj-http/clj-http               {:mvn/version "3.12.3"}
        scicloj/tablecloth              {:mvn/version "6.012"}
        io.github.kimim/clj-chart       {:mvn/version "0.1.3"}}}
