{:paths ["src"]
 :aliases {:run
           {:main-opts ["-m" "thinkstats2.core"]}}

 :deps {org.clojure/clojure             {:mvn/version "1.10.3"}
        clj-http/clj-http               {:mvn/version "3.12.3"}
        scicloj/tablecloth              {:mvn/version "6.012"}
        org.knowm.xchart/xchart         {:mvn/version "3.8.1"}}}
